{{#with (changeset model validations) as |changeset|}}
<div class="form-wrapper">
  <form role="form" autocomplete=off {{action (perform forgotPassword model) on="submit"}}>
    <h2>{{t "password.reset"}}</h2>

    <p data-test-id="forgot-password-header">Enter your email and we'll send you a link to reset your password.</p>

    {{validated-input 
      model=model
      valuePath="email"
      changeset=changeset
      required=true
      placeholder=(t "email.one")
      name="email"
    }}

    <button 
      role="button" 
      type="submit" 
      class="forgot-password-submit"
      disabled={{if (or changeset.isInvalid forgotPassword.isRunning) "disabled"}} 
      onclick={{action "validate" changeset}}>{{t "send_email"}}</button>

    <div class="form-misc">
      {{#link-to "login"}}{{t "login"}}{{/link-to}}
    </div>

  </form>
</div>
{{/with}}