{{#with (changeset model validations) as |changeset|}}
<div class="form-wrapper">
  <form role="form" autocomplete=off {{action (perform resetPassword model) on="submit"}}>
    <h2>{{t "password.reset"}}</h2>

    {{validated-input 
      model=model
      valuePath="password"
      changeset=changeset
      required=true
      placeholder=(t "password.one")
      type="password"
      inputId="password"
    }}

    {{validated-input 
      model=model
      valuePath="passwordConfirmation"
      changeset=changeset
      required=true
      placeholder=(t "password_confirmation")
      type="password"
      inputId="password-confirmation"
    }}

    <button 
      role="button" 
      type="submit" 
      disabled={{if (or changeset.isInvalid resetPassword.isRunning) "disabled"}} 
      onclick={{action validate changeset}}>{{t "password.reset"}}</button>

  </form>
</div>
{{/with}}